.header {
    width: 100%;
    display: flex;
    border-bottom: double cyan;
}

.logo {
    width: 120px;
    height: 120px;
}

.to_main {
    border: solid cyan;
    padding: 10px;
    height: 55px;
    background-color: rgb(6, 43, 68);
    color: white;
    margin-top: 50px;
}

.nav-list {
    border-right: solid;
    width: 200px;
    height: 200px;
}

.content {
    display: flex;
}

.information {
    width: 1100px;
    padding: 10px;
    font-size: 18px;
    height: 440px;
    overflow-y:scroll;
}